<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955508344514-ndddcn2th2ass0q0vmhqu4rht8m324pb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955508344514-ndddcn2th2ass0q0vmhqu4rht8m324pb</string>
	<key>API_KEY</key>
	<string>AIzaSyAuoRfYTj1EmKidJmHe0fUdBF6uGlBmc2U</string>
	<key>GCM_SENDER_ID</key>
	<string>955508344514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lacanh.InhouseManager</string>
	<key>PROJECT_ID</key>
	<string>jplt-6e6aa</string>
	<key>STORAGE_BUCKET</key>
	<string>jplt-6e6aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955508344514:ios:a1656a5727b6a84ddf5d5b</string>
	<key>DATABASE_URL</key>
	<string>https://jplt-6e6aa.firebaseio.com</string>
</dict>
</plist>